/* Base */

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #434455;

  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1440px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  color: #2e2f42;
  text-decoration: none;
  color: currentColor;
}
.container {
  /* max-width: 1158px; */
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
}

.navi {
  display: flex;
  align-items: center;
  
}
.navi-menu {
  display: flex;
  gap: 40px;

}

  
  
.menu-list {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 0;
  margin-right: 0;
  
}

 
  .navigation_studio {
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
 }
  
  


.navigation_studio::after {
  
     content: "";
     color: #404bbf;
     width: 100%;
     position: absolute;
     left: 0;
     bottom: -1px;
     height: 4px;
     background-color: #404bbf;
     border-radius: 2px;
    
    }

  
  
  

    /* logo */
    .logo-dark {
      color: #4d5ae5;
      font-family: "Raleway", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.17;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      margin-right: 76px;
    }
    
    .logo-accen {
      color: #2e2f42;
    }
    
    
     .navigation {
      padding-top: 24px;
      padding-bottom: 24px;
      font-weight: 500;
      letter-spacing: 0.02em;
      transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
    }
    .navigation:hover {
      color: #404bbf;
    }
    
    .navigation:focus {
      color: #404bbf;
      
      
    }

    
    


   
   





/* address */
.ul_adress {
  display: flex;
  gap: 40px;
  margin-right: 0;
  margin-right: 0;
  
  
}


.address-search {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
}


.address-link {
  font-style: normal;
  color: #434455;
  letter-spacing: 0.02em;
  font-style: normal;
  letter-spacing: 2%;
  
}

.address-link :hover {
  color: #404bbf;
  
}

.address-link :focus {
  color: #404bbf;
  border: 1px solid #2e2f42;
  
}

.address-link :active {
  color: #404bbf;
}








.section {
  padding: 120px 120px;
}


/* Hero section */

.section_hero {


  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0 188px;
  max-width: 1440px; 
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
  
  
}



  

  


.main-title {

  max-width: 496px;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 2%;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 49.2px;
}

/* batton */

.button-section {
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  width: auto;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.button-section:hover {
  background: #404bbf;
  
  
}

.button-section:focus {
  background-color: #404bbf;
  border: 1px;
}

/* Our advantages section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section_advantages {
  padding: 120px 0 120px;
}

.rectangle-icons {
  width: 264px;
  height: 112px;
  left: 0;
  top: 0;
  box-sizing: border-box;
/* LIGHT SLATE */
  border: 1px solid #8e8f99;
  border-radius: 4px;
  /* CLOUD */
  background-color: #f4f4fd;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8px ;



}



.our_ul {
  display: flex;
  gap: 24px;
  padding-top: 178px;
  padding-bottom: 120px;
  align-items: center;
  
  }
  
.advantages_li {
  width: calc((100% - 3 * 24px) / 4);
}

.advantages {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.quote-text {
  letter-spacing: 0.02em;
}

/* Our team section */
.team_ul {
  display: flex;
  justify-content: center;
  gap: 24px;
 
  
}

.team_li {
  display: flex;
  gap: 24px;
  margin-top: 8px;

  
}
  
  
img {
  display: block;
}
.card-team {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;

}
.major_list {
  padding-top: 32px;
  padding-bottom: 32px;
  
  
}
.caption {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.item-desk {
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 8px;
}
.excerpt-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
  line-height: 1.5;
  display: flex;
  justify-content: center;

  padding-top: 8px;
  text-align: center;
}

.our-section {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}

  
  
 




.link_social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(77, 90, 229);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  
}
.icon_social {
    fill:  #f4f4fd

  }
  
.link_social:hover {
  background-color:  #404bbf;

}
 .link_social:focus {
  background-color: #404bbf;
 }


/* Our Portfolio */
.li_our {
  transition-duration: 250ms;
  transition-property: (0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
 .li_our:hover .sellers-cover-text {
  transform: translateY(0);
 }
  
.li_our:hover {
  
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
 .sellers-cower-wrap {
position: relative;
overflow: hidden;
 }
  
 
 .sellers-cover-text {
   position: absolute;
  top: 0;
  width: 360px;
  height: 300px;
  Top: 0px;
  Left: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
   font-size: 16px;
   background-color: rgb(77, 90, 229);
   /* line-height: 24px; */ 
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
     
     display: flex;
     align-items: center;
     padding: 40px 32px;
     transform: translateY(100%);
     transition-duration: 250ms;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
    


.our_section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.ul_portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our_border {
  padding: 32px 16px 32px 16px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(231, 233, 252);
  border-left: 1px solid rgb(231, 233, 252);
  border-right: 1px solid rgb(231, 233, 252);
}
.images_portfoliob {
  margin-bottom: 0;
}

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.lead-text {
  letter-spacing: 0.02em;
}

/* footer */


  
  .content_container {

  padding: 100px 156px 100px ;
  background-color: #2e2f42;
  display: flex;
  align-items: baseline;
  
}
  
  
  .footer_logo_conteiner {
    margin-right: 120px;
    width: 264px;
    height: 112px;
  }
  

.footer_icons_container {
  
  
  width: 208px;
  height: 80px;

}

  
  
  
  
  

.footer a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  
}

.logo-accent {
  color: #f4f4fd;
}
.logo-light {
  color: #4d5ae5;
  text-transform: uppercase;
  margin-bottom: 16px;
  
  
}
.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  padding-top: 16px ;
  font-weight: 500;

}
  
  
  
  




  .ul_footer {
    display: flex;
    gap: 16px;
    
  }
    
    
 .li_footer {
  width: 40px;
  height: 40px;

   
 }
 .footer_social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   

 }
 .footer_social:hover {
  background-color: #31d0aa;
   
 }
 .footer_social:focus {
  background-color: #31d0aa;
 }
 

.p_text_social {
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
 
}

.icon_footer {
  fill:  #f4f4fd;
}

.footer_form {
  display: flex;
  gap: 24px;
  margin-left: 80px;
  width: 453px;
  height: 80px;
}
.text_contacts {
  font-weight: 500;
  width: 75px;
  height: 24px;
  margin-left: 80px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer_email {
border: 1px solid #fff;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
width: 264px;
height: 40px;
background: transparent;
color: #ffffff;
 font-size: 12px;
 line-height: 2;
 letter-spacing: 0.04em;
 padding-left: 16px;

}
.footer_email::placeholder {
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  
}

.footer_button {
  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4D5AE5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px 2px;
  font-weight: 500;
  border: none; 
}
.footer_button:hover {
  background-color: #404BBF;
}
.footer_button:focus {
   background-color: #404BBF;
}
.footer_icon_contacts {
  margin-left: 16px;
}

/* Modal##################################### */

.backdrop  {
  position: fixed;
  
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
  
  
  

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  width: 100%;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  padding: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding: 72px 24px 24px; 
}



.close_modal {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  
  background: rgb(231, 233, 252);  
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close_modal:hover {
   border: none;
  background-color: #404BBF;
  fill: #ffffff;
}
.close_modal:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title_modal {
  color: #2E2F42;
  font-family: Roboto;
 font-weight: 500;
 font-size: 16px;
 height: 24px;
 justify-content: center;
 align-items: center;
 letter-spacing: 0.02em; 
 text-align: center;
 margin-bottom: 16px;
}
 
.link_modal {
  display: flex;
  justify-content: center;
  align-items: center;
}




.input_modal {
  padding-left: 35px;
  width: 100%;
  height: 58px;
  
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


  .label_modal span {
    display: block;
    margin-bottom: 8px;
    /* Small Text */
   color: rgb(142, 143, 153);
   font-family: Roboto;
   font-size: 12px;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 4%;
   text-align: left;
   

  }
 
   .label_modal {
   display: block;
   font-size: 12px;
   line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
} 


 .input_modal {
  
  width: 100%;
  height: 40px;
   border: 1px solid rgba(46, 47, 66, 0.4); 
   border-radius: 4px;
   background-color: transparent;
   padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 }
 .input_modal:focus {
  border-color: #4D5AE5;
 }

  

.person_icon {
  
  position: absolute;
  top: 50%;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-50%); 
}
  
  
   
    
  
.input_modal:focus + .person_icon {
  fill: #4D5AE5;
}

  .input_icons_modal {
    position: relative;
  }

.person_icon_container {
  display: block;
  margin-bottom: 8px;
  
  
}

.person_text_container {
  display: block;
  margin-bottom: 16px;
}

.comment_text {
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
   line-height: 1.17; 
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4);
   outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent; 
  }
 
  
  
  .comment_text:focus {
   border-color: #4D5AE5;
  }
.text_check {
  display: block;
  margin-top: 8px;
}
  /* Checkbox####################### */
  
  .click_check {
    display: inline-flex;
    width: 16px;
    height: 16px;
    fill: transparent;
   box-sizing: border-box;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   fill: transparent;
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
.person_check_container {
  display: block;
  margin-bottom: 24px;
}
  
  



.text_check {
display: inline-flex;
display: flex;
align-items: center;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.17; 
 
/* line-height: 14px; */ 

letter-spacing: 0.04em;
color: #8e8f99;
gap: 8px;
padding: 0;
}

.link_chek {
 
line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;

}
.visually-hidden {
  visibility: hidden;
}

.visually-hidden:checked ~ .text_check .click_check {
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  fill: #F4F4FD;;
  background-color: rgb(64, 75, 191);

}
.click_check {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;

}

.button_send {
  
  display: block;
  border: none;
  margin: auto;
  
  margin-bottom: 24px;
  cursor: pointer;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  background-color: #4D5AE5;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .button_send:hover {
  background-color: #404BBF;
 }
   
  
  .button_send:active {
    background-color: #404BBF;
  }
  
   